*{
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
  }

  @keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}


.reload{
    margin-top: -20px;
    text-align: end;
    color: white;
}

.accountPage{
    padding: 24px 8%;
}   

.reload button{
    /* background-color: black; */
    background-color: transparent;
    border: none;
    color: white;
}

.user{
    display: flex;
    flex-direction: column;
}
.userImg{
    /* position: absolute; */
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    gap: 1rem;
}
.userimg{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.username{
    display: flex;
    flex-direction: column;
    /* align-items:flex-start; */
}
.userImg img{
    /* margin-top: 2%; */
    padding: 0px;
    margin: 0px;
    height: 170px;
    width: 170px;
    border: 5px solid white;
    border-radius: 50%;
    box-shadow: 0px 0px 6px 0px #000000;

}

.userProfile{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.userImg input{
    width: 90px;
}

.userDetail{
    display: flex;
    flex-direction: column;
    padding: 5% 15%;
    gap: 2rem;
}

.username{
    display: flex;
    padding: 20px 20px;
    margin-top: -5%;
    align-items: flex-start;
}

.username h1{
    font-family: 'Poppins', sans-serif;
    /* color: white; */
    font-size: 3em;
}



.bio{
    border: 1px solid rgb(209 209 209);
    padding: 1rem 1rem;
    border-radius: 10px;
}

.socials{
    border: 1px solid rgb(209 209 209);
    padding: 1rem 1rem;
    border-radius: 10px;
}


.bio h2{
    font-weight: 900;
}


.socials h2{
    font-weight: 900;
}

.links{
    margin-top: 30px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.link{
    display: flex;
    gap: 2rem;
}

.editInfo {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: -3%;
    padding: 0px 10px;
}


.editInfo button#edit{
    background-color: #23A196;
}

.editInfo button{
    color: white;
    padding: 8px 16px;
    border-radius: 2px;
    font-size: 1em;
    border: none;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.editInfo button#save{
    background-color: #1F78D1;
}

.editInfo button#save:hover{
    background-color: #185fa5;
}
.editInfo button#edit:hover{
    background-color: #1a776f;
}

.sociallink{
    justify-content: space-between;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.personalinfo{
    /* padding: 20px 0px; */
    margin-top: 30px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.personalinfo {
    display: flex;
    gap: 2rem;
}

.person{
    display: flex;
    gap: 5rem;
}

.perInfo{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

label small{
    color: #1F78D1;
    font-weight: bold;
}
label p{
    margin-top: 5px;
}

label div{
    margin-top: 10px;
}

label div input{
    padding: 10px 10px;
}



@media (max-width:450px){
    .accountPage{
        padding: 24px 2%;
    }
    .userProfile{
        align-items: flex-start;
    }
    .userImg{
        flex-direction: column;
    }
    .username{
        padding: 20px 10px;
    }
    .username h1{
        font-size: 2em;
    }
    .userDetail{
        padding: 0;
    }
    .person{
        flex-direction: column;
        gap: 2rem;
    }
    .links{
        gap: 0;
    }
    .link{
        flex-direction: column;
        gap: 0;
    }
    label div input{
        width: 100%;
    }
}

@media (max-width:760px){
    /* .accountPage{
        padding: 24px 2%;
    } */
    .userProfile{
        align-items: flex-start;
    }
    .userImg{
        flex-direction: column;
    }
    .username{
        padding: 20px 10px;
    }
    .username h1{
        font-size: 2em;
    }
    .userDetail{
        padding: 0;
    }
    .person{
        flex-direction: column;
        gap: 2rem;
    }
    .links{
        gap: 0;
    }

}