*{
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 8%;
  width: 100%;
  z-index: 1000;
  transition: all .50s ease;
  background:#f7f6f6;
  /* position:fixed; */
  position: relative;
  top: 0;
  color: black;
}

a{
  text-decoration: none;
  color: #03112c;
}

.logo a{
  font-weight: 600;
  font-size: 1.5em;
  color: black;
}

.urls{
  display: flex;
  align-items: center;
}

.urls a{
  padding: 5px 0px;
  margin: 0px 30px;
  transition: all .3s ease;
  color: #bebebe;
}

.urls a.link{
  color: black;
}

.searching input{
  width: 350px;
  /* padding: 6px 0px; */
  margin: 0px 10px;
  border: none;
  font-family: "Poppins", sans-serif;
  background: #f7f6f6;
  font-size: 1em;
}
.searching input:focus{
  outline: none;
}
.searching{
  border: 1px solid #03112c;
  /* text-align: center; */
  display: flex;
  align-items: center;
  /* padding: 0px 10px; */
  margin: 0px 30px;
}

.searching button{
  background-color: #03112c;
  color: white;
  padding: 8px 10px;
  border: none;
  cursor: pointer;
}
.searching button:hover{
  background-color: #2a62fe;
  transition: .50s ease;
}


.url-links{
  display: flex;
}

.urls a:hover{
  color:#2a62fe;
  /* color: black; */
  /* font-weight: 600; */
}
.url-links.open a.link{
  color: #bebebe;
}
.url-links.open a.link:hover{
  color: white;
}
/* .urls a.active{
  color: black;
} */

.right{
  display: flex;
  align-items: center;
}

.right a{
  margin: 0px 15px;
  transition: all .5s ease;
}

#menu-icon{
  font-size: 1.5em;
  cursor: pointer;
  z-index: 10001;
  display: none;  
}

#user-icon{
  font-size: 1.5em;
  cursor: pointer;
  z-index: 10001;
}
.user-links{
  /* color: #03112c; */
  display: flex;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 250px;
  height: 35vh;
  background-color: #03112c;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 10px;
  transition: all .50s ease;
}



.user-links a{
  color: black;
  display: block;
  margin: 12px 0;
  padding: 0px 25px;
  transition: all .50s ease;
}

.user-links.open a{
  color:#bebebe;
}

.user-links a:hover{
  color: white;
  transform: translateY(5px);
}


.user-links.open{
  right: 2%;
}

#logreg a{
  color: black;
  padding: 12px 18px;
  border-radius: 2rem;
  /* font-size: 1.2em; */
}

#logreg a:hover{
  background-color: #03112c;
  color: white;
}


#log-reg{
  display:none;
}

.right.user{
  display: flex;
  flex-direction: column;
}

.dropbtn{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.dropdown{
  display: flex;
  align-items: center;
  gap: 2rem;
}

.dropbtn{
  color: black;
}


.dropdown-content{
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.hidelink{
  display: none;
}

.nothidelink{
  display: flex;
  flex-direction: column;
}

.hidemenu{
  display: flex;
}

.hidemenu a.activePage{
  color: #2a62fe;
}


@media (max-width: 1280px){

    .logo a{
      font-size: 1.5em;
    }

    .navbar{
      padding: 14px 2%;
      transition: .2s;
    }
    .urls a{
      margin: 12px 0;
      padding: 0px 25px;
    }
}

@media (max-width: 1090px){

  #menu-icon{
    display: block;
  }
  .url-links{
    /* color: #03112c; */
    position: absolute;
    top: 100%;
    right: -100%;
    width: 250px;
    height: 35vh;
    background-color: #03112c;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 10px;
    transition: all .50s ease;
  }

  .url-links a{
    display: block;
    margin: 12px 0;
    padding: 0px 25px;
    transition: all .50s ease;
  }

  .url-links a:hover{
    color: white;
    transform: translateY(5px);
  }

  .url-links.open{
    right: 2%;
  }

  .hidemenu{
    display: none;
  }

}

@media (max-width:910px){
  .searching input{
    width: 300px;
  }
  #logreg a{
    padding: 0px;
  }
}

@media (max-width:767px){
    .searching {
      display: none;
    }

    #log-reg{
    display:block;
    }
  #log-reg a{
    /* font-size: 2em; */
    margin: 10px 0;
    padding: 8px 25px;
  }
  #logreg{
    display: none;
  }
}