.hero{
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-bottom: 1rem;
}

.int1{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading , .subheading{
    margin: 0px;
}
.heading{
    font-size: 2em;
}
.subheading{
    font-size: small;
}

.int2{
    display: flex;
    align-items: center;
    gap: 6rem;
}

.quote{
    display: flex;
    flex-direction: column;
}

.quote h3{
    width: 250px;
}

.quote a{
    width: 10rem;
    padding: 8px 10px;
    background-color: orange;
    color: black;
    font-weight: bold;
    font-size: 1.3em;
    text-align: center;
}

.int-img img{
    height: 230px;
    width: 330px;
    transform: scaleX(-1);
}


.search{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 1rem;
    background-color: #F5F7F6;
    padding: 1rem 0px;
}

.searchbar {
    border: 1px solid black;
    padding: 0px 10px;
    font-size: 1.2em;
    font-weight: bold;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.searchbar span img{
    height: 15px;
    width: 15px;
}

.searchbar input{
    width: 100%;
    padding: 10px 10px;
    border: none;
    outline: none;
    font-size: 1em;
    font-weight: bold;
}

.btn-search{
    /* width: 7rem; */
    padding: 12px 14px;
    background-color: orange;
    color: black;
    font-weight: bold;
    font-size: 1em;
    border: none;
}

.Events{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.bottom{
    display: flex;
    justify-content: space-around;
}

.filter{
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

.loc{
    display: flex; 
    gap: 10px;
    flex-direction: column;
}

h4{
    margin: 0px;
    margin-left: 4px;
}

.status{
    display: flex;
    gap: 10px;
    flex-direction: column;
}
.price{
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.evInfo{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 60%;
}

.ev{
    width: 100%;
    height: 10rem;
    background-color: cadetblue;
}